@charset "utf-8";
/* font */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");
@font-face {
  font-family: "JejuStoneWall";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}
/* setting */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "JejuStoneWall", "Pretendard Variable", Pretendard;
  background-color: #fff7ec;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: #333;
  box-sizing: border-box;
  font-family: "Pretendard Variable", Pretendard;
}
.button {
  display: inline-block;
  padding: 12px 32px;
  background-color: #ff9900;
  color: #fefefe;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  border-radius: 6px;
  transition: 0.2s;
}
.button:hover {
  background-color: #ff7800;
}
hr {
  border: transparent;
  border-top: 1px solid #cdd1d5;
}
/* header */
header {
  width: 100%;
}
header .upper {
  padding: 30px 0;
  background-color: #ff9900;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
header .upper p {
  color: #fefefe;
  font-size: 15px;
}
.logo {
  font-family: "JejuStoneWall";
  font-size: 48px;
  text-align: center;
  color: #f0f0f0f0;
}
header nav {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ff9900;
  text-align: center;
}
header nav a {
  display: inline-block;
  padding: 12px 30px;
  font-weight: 700;
  color: #ff9900;
}
/* banner */
.banner {
  width: 100%;
  padding: 40px 0;
  text-align: center;
  background-color: #ffecce;
}
.banner p {
  color: #666;
  margin: 24px 0;
}
/* section */
section {
  width: 50%;
  max-width: 720px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
section .button {
  width: 100%;
}
.box {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px #ffecce;
}
.box h3 {
  font-size: 20px;
  color: #ff7800;
  font-weight: 700;
}
.list img {
  width: 100%;
  margin: 20px 0 10px;
  aspect-ratio: 1 / 0.4;
  object-fit: cover;
}
.list p {
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #535353;
}
.list ul {
  margin: 16px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
.list ul li {
  padding: 8px 16px;
  background-color: #fff7ec;
  color: #ff7800;
  font-size: 14px;
  font-weight: 700;
  border-radius: 4px;
}
/* 상세페이지 */
.list.menu hr {
  margin: 10px 0;
}
.list.menu ul {
  margin: 0;
  flex-direction: column;
  align-items: flex-start;
}
.list.menu ul li {
  padding: 0;
  background-color: transparent;
}
.list.menu ul li strong {
  color: #a0a0a0;
  font-weight: 600;
}
.list.menu ul li p {
  margin: 5px 0;
}
.list.menu p.sub-title {
  font-size: 16px;
  font-weight: 700;
}
.list.menu h4 {
  font-size: 18px;
  color: #a0a0a0;
}
.list.menu li {
  display: flex;
  align-items: center;
  gap: 10px;
}
.list.menu li span {
  color: #ff7800;
  margin-left: 10px;
}
.list.menu .info li {
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.list.menu .info li p {
  margin: 0;
}
.button.link {
  margin-left: auto;
  width: fit-content;
  display: block;
}
/* footer */
footer {
  width: 100%;
  padding: 20px 0;
  background-color: #ff9900;
  text-align: center;
}
footer p {
  font-size: 15px;
  margin: 10px 0;
  color: #fefefe;
}

@media screen and (max-width: 720px) {
  section {
    width: 90%;
  }
}
